body {
    background: linear-gradient(to right, #00ffff, #6200ff);
    font-family: 'Cursive', sans-serif; /* Рукописный шрифт */
    font-size: 16px;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    background: linear-gradient(to right, #d0ff00, #ff0077);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic; /* Наклонный текст */
}
label {
    display: block;
    margin: 10px 0;
    color: #333;
}
input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}
button {
    background: linear-gradient(to right, #ffee00, #f700ff);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
    display: block;
    margin: 20px auto;
    font-style: italic; /* Наклонный текст */
}
button:hover {
    background: linear-gradient(to right, #0011ff, #ffe600);
}
#result {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}